In [1]:
import pandas as pd

9. You have a dataset named customer_data.csv that contains information about customers. The dataset has columns customer_id, age, gender, email, and purchases. Write a Python script to read the dataset, perform data cleaning by removing duplicates and handling missing values, and then calculate the average number of purchases for each gender.

In [26]:
def clean_data(path):
    df=pd.read_csv(r'C:\Users\pbann\Downloads\customer_data.csv')
    df.drop_duplicates()
    for  i in df.columns:
        df[i]=df[i].fillna(df[i].mode())
    return df

In [29]:
path=r'C:\Users\pbann\Downloads\customer_data.csv'
clean_data(path)

   customer_id  age gender            email  purchases
0         1001   35      M  abc@example.com       10.0
1         1002   28      F  def@example.com        5.0
2         1003   40      F  ghi@example.com        8.0
3         1004   45      M  jkl@example.com        8.0
4         1005   33      M  mno@example.com       15.0
5         1006   27      F  pqr@example.com       12.0
6         1007   50      M  stu@example.com       12.0
7         1008   29      F  vwx@example.com        7.0
8         1009   38      F  yza@example.com        9.0

In [31]:
df.groupby('gender')['purchases'].count()

gender
F    5
M    4
Name: purchases, dtype: int64