In [1]:
import pandas as pd 
import pickle

In [2]:

with open('nox_model.pkl', 'rb') as f:
    x = pickle.load(f)

In [3]:
x

RandomForestRegressor()

In [6]:
df=pd.read_csv('final_data')

In [7]:
df

,Unnamed: 0,DUST,LOAD,SOX,COAL FLOW,AIR FLOW,APH-A-inlet-O2,APH-B-inlet-O2,APH-A-outlet-O2,APH-B-outlet-O2,APH OUTLET TEMP-PASSA,APH OUTLET TEMP-PASSB
0,1,90.80,219.169281,2058.0,160.247375,771.0,2.645082,2.914423,3.774693,3.774693,128.827459,131.418488
1,2,44.00,193.337067,1905.0,139.956100,782.0,4.643019,4.294496,5.754969,5.754969,129.108368,132.330617
2,3,44.90,191.797440,1866.0,139.279434,773.0,4.615278,4.364353,5.611253,5.611253,132.004634,134.760106
3,4,40.12,191.705933,1870.0,140.341476,768.0,4.522539,4.274601,5.575839,5.575839,131.639511,134.136602
4,5,40.00,190.005066,1887.0,141.173676,768.0,4.230556,4.113577,5.336401,5.336401,131.172384,133.700633
...,...,...,...,...,...,...,...,...,...,...,...,...
318,319,202.00,280.991913,1602.0,224.756393,1058.0,2.609954,2.855597,3.706730,3.706730,147.120422,150.316071
319,320,202.00,281.414917,1602.0,224.468277,1065.0,2.553551,2.744499,3.681642,3.681642,146.625107,149.817220
320,321,252.00,275.979797,1602.0,225.046463,1053.0,2.936583,2.922196,3.923084,3.923084,146.369191,149.502660
321,322,299.00,276.770416,1602.0,224.916992,1047.0,2.883361,2.909387,4.035063,4.035063,146.193136,149.266301
322,323,193.00,279.781921,1602.0,224.502472,1055.0,2.843870,3.033844,3.755615,3.755615,142.019068,144.889893

In [10]:
x.predict([[90.80,219.169281,2058.0,160.247375,771.0,2.645082,2.914423,3.774693,3.774693,128.827459,131.418488]])

C:\Users\pbann\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([664.55])